// Navigation Styles here
.title-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 0px;
  border-bottom: 2px dashed gray;
  h1 {
    margin-left: 21%;
  }
  nav {
    margin-right: 21%;
    a {
      text-decoration: none;
      color: black;
      margin: 0px 20px;
      font-size: 2.0rem;
    }
  }
}
